name: GraphQL Inspector

on: [ push ]

jobs:
  test:
    name: Check Schema
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: kamilkisiela/graphql-inspector@v3.1.1
        with:
          schema: 'main:schemas'